# Python virtual environment
venv/
__pycache__/

# Environment variables
.env

# Other project-specific files to ignore...
*.pyc
.idea/
.vscode/

# Special files
old_file/
test_py_file/
Notes_and_Test_Files/
Example Data/
finder/
First Round/
old_clean/
rank_star_data/
star_data2/
test_py_file/
utils/
temp.pdf
update.sh
.DS_Store
star_api_error.log
star_api.log
modify_data_set.py
script_error.log
script.log
arxiv_visualizer_website/
visualizer_example/
run_daily.sh
daily.log
launchd_err.log
launchd_out.log